*{
    box-sizing: border-col-;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Epunda Slab", serif;
    font-weight: 500;
    font-size: larger;
    background: #334d50; 
    background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);  
    background: linear-gradient(to right, #cbcaa5, #334d50); 

}
.dancing{
    color:#161421; 
    font-size: 22px;
    font-weight: 700;
}
.container{
    width: 1320px;
    padding: 0px 16px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -16px;
}
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}   
.justify-content-center{
    justify-content: center;
}
.col-3{
    width: 25%;
}
.col-10{
    width: 83.33%;
}
.col-12{
    width: 100%;
}
img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
    box-shadow: 0 4px 2px 2px #161421;

}
.frame{
    margin-left: 10px;
    border-radius: 10px;
    background: #403B4A;  
    background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  
    background: linear-gradient(to right, #E7E9BB, #403B4A); 
    box-shadow: 0 4px 3px 3px #161421;
}
